@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Willkommen bei MEDIplan</h1>
<p>Dies ist die Startseite deiner Anwendung.</p>
